# Which folders and files to ignore
/Cache
/Errors
/Logs
/UTILS

.curseclient
.flavor.info
BlizzardError.exe
d3d12.dll
DBGHELP.DLL
dxilconv7.dll
Wow.exe

Interface/Addons/ElvUI
Interface/Addons/elvui.git
Interface/Addons/ElvUI_ExtraActionBars
Interface/Addons/ElvUI_OptionsUI